<div class="card mb-12">
  <div class="card-body">
    <form
      (ngSubmit)="addItem()"
      [formGroup]="providerForm"
      id="providerForm" noValidate
    >
      <div class="row">
        <div class="col-sm-2 col-md-2">
          <!--PROVIDER CODE-->
          <label class="form-label required">Factura</label
          ><input
          class="form-control form-control-lg form-control-solid"
          formControlName="providerCode"
          name="providerCode"/>
        </div>

        <div class="col-sm-5 col-md-5">
          <!--PROVIDER-->
          <label class="form-label required">Código Proveedor</label
          ><input
          class="form-control form-control-lg form-control-solid"
          formControlName="provider"
          name="provider"/>
        </div>

        <div class="col-sm-2 col-md-2">
          <!--PROVIDER-->
          <label class="form-label required">Términos</label
          ><select class="form-select" formControlName="department" id="department">
          <option>Contado</option>
          <option>Crédito</option>
        </select>
        </div>
        <div class="col-sm-3 col-md-3">
          <!--PROVIDER-->
          <label class="form-label required">Fecha</label
          ><input
          class="form-control form-control-lg form-control-solid"
          type="date"
          formControlName="provider"
          name="provider"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-md-2">
          <!--PROVIDER CODE-->
          <label class="form-label required">Tipo F</label
          ><input
          class="form-control form-control-lg form-control-solid"
          formControlName="providerCode"
          name="providerCode"/>
        </div>

        <div class="col-sm-5 col-md-5">
          <!--PROVIDER-->
          <label class="form-label required">{{"ITEMS.ITEMS_PROVIDER_LIST.FORM.PROVIDER" | translate}}</label
          ><input
          class="form-control form-control-lg form-control-solid"
          formControlName="provider"
          name="provider"/>
        </div>

        <div class="col-sm-5 col-md-5">
          <!--PROVIDER-->
          <label class="form-label required">Plazo</label
          ><input
          class="form-control form-control-lg form-control-solid"
          formControlName="provider"
          name="provider"/>
        </div>
      </div>
      <div class="separator my-12"></div>
      <div class="row">
        <div class="col-sm-10 col-md-10">
          <!--PROVIDER CODE-->
          <label class="form-label">Buscar Producto</label
          ><input
          class="form-control form-control-lg form-control-solid"
          formControlName="providerCode"
          name="providerCode"/>
        </div>
        <div class="col-sm-2 col-md-2">
          <label class="form-label">Nuevo producto</label>
          <a href="#" class="btn btn-light-primary">Agregar Item</a>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card card-custom">
  <div class="card-header card-header-stretch overflow-auto">
      <table class="table table-rounded">
        <thead>
        <tr>
          <th style="width: 15%">Código interno</th>
          <th>Cantidad</th>
          <th style="width: 8%">Precio compra</th>
          <th style="width: 5%">Utilidad</th>
          <th>Utilidad f</th>
          <th style="width: 8%">Precio actual</th>
          <th style="width: 4%">Aplicar desc.</th>
          <th style="width: 8%">Precio venta <br> sin IVA</th>
          <th>Precio venta fracción <br> sin IVA</th>
          <th style="width: 8%">M. total</th>
          <th style="width: 5%">Desc.</th>
          <th style="width: 5%">Subt</th>
          <th style="width: 5%">IVA</th>
          <th style="width: 8%">M. total linea</th>
        </tr>
        </thead>
        <tbody>
        <tr class="py-5 fw-bold  border-bottom border-gray-300 fs-6">
        </tr>
        <tr class="py-5 fw-bold  border-bottom border-gray-300 fs-6">
        </tr>
        </tbody>
      </table>
  </div>
</div>
