<div class="card mb-10">
  <div class="card-body d-flex align-items-center py-8">
    <!-- begin::Icon -->
    <div
      class="d-flex h-80px w-80px flex-shrink-0 flex-center position-relative"
    >
      <img class="h-40px me-10" src="assets/media/icons/duotune/coding/cod010.svg"/>
    </div>
    <!-- end::Icon  -->

    <!-- begin::Description  -->
    <div class="ms-6">
      <p class="list-unstyled text-gray-600 fw-bold fs-6 p-0 m-0">
        {{"DASHBOARD.ICONS.FEEDLOTS"|translate}}
      </p>
      <button class="btn btn-warning margin-left" routerLink="/reports/cebadero/">
        <i class="fas fa-arrow-left" data-placement="top" data-toggle="tooltip"></i> Volver
      </button>
    </div>
    <!-- end::Description  -->
  </div>
</div>


<div class="card mb-5 mb-xl-12">

  <div class="card-body">
    <div class="card-body">
      <form [formGroup]="controlReportForm" id="controlReport">
        <div class="d-flex justify-content-between align-items-start flex-wrap mb-2 md-12">
          <div class="row p-t-20 col-md-12">
            <div class="col-md-6">
              <fieldset [disabled]="!editing">
                <label class="form-label" for="clientName">Cliente</label>
                <input class="form-control" formControlName="clientName" id="clientName" maxlength=80 type="text">
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset [disabled]="!editing">
                <label class="form-label" for="clientAddress">Direccion</label>
                <input class="form-control" formControlName="clientAddress" id="clientAddress" maxlength=80 type="text">
              </fieldset>
            </div>

            <form [formGroup]="branchIdForm" id="branchIdForm">
              <div *ngIf="isNew" class="col-md-6">
                <fieldset [disabled]="!editing">
                  <label class="form-label">Sucursal</label>
                  <select class="form-select" formControlName="branch">
                    <option *ngFor="let b of branch"
                            [ngValue]="b">{{b.name}}
                    </option>
                  </select>
                </fieldset>
              </div>

              <div *ngIf="!isNew" class="col-md-6">
                <fieldset [disabled]="!editing">
                  <label class="form-label">Sucursal</label>
                  <input class="form-control" formControlName="branch">
                </fieldset>
              </div>
            </form>

            <div *ngIf="isNew" class="col-md-6">
              <fieldset [disabled]="!editing">
                <label class="form-label">Bodega/Almacén</label>
                <select class="form-select" formControlName="warehouse">
                  <option *ngFor="let w of warehouse"
                          [ngValue]="w">{{w.name}}
                  </option>
                </select>
              </fieldset>
            </div>

            <div *ngIf="!isNew" class="col-md-6">
              <fieldset [disabled]="!editing">
                <label class="form-label">Bodega/Almacén</label>
                <input class="form-control" formControlName="warehouse">
              </fieldset>
            </div>

            <div class="col-md-3">
              <fieldset [disabled]="!editing">
                <label class="form-label" for="createAt">Fecha</label>
                <input class="form-control" formControlName="createAt" id="createAt" maxlength=10 type="text">
              </fieldset>
            </div>

            <div class="col-md-3">
              <fieldset [disabled]="!editing">
                <label class="form-label" for="startTime">Hora Ingreso</label>
                <input class="form-control" formControlName="startTime" id="startTime" maxlength=80 type="time">
              </fieldset>
            </div>
            <div class="col-md-3">
              <fieldset [disabled]="!editing">
                <label class="form-label" for="endTime">Hora Salida</label>
                <input class="form-control" formControlName="endTime" id="endTime" maxlength=80 type="time">
              </fieldset>
            </div>
            <div class="col-md-3">
              <fieldset [disabled]="!editing">
                <label class="form-label" for="total">Cebaderos</label>
                <input class="form-control" formControlName="total" id="total" maxlength=80 type="number">
              </fieldset>
            </div>


          </div>
          <div class="row col-md-3">
            <div class="d-flex my-4">

              <div class="me-0">
                <button (click)="save()"
                        *ngIf="editing"
                        class="btn btn-success"
                        data-kt-menu-trigger="click"
                >
                  <i class="bi bi-cloud-arrow-up-fill"></i>
                </button>

                <button (click)="enableEdit()"
                        *ngIf="!editing"
                        class="btn btn-warning"
                        data-kt-menu-trigger="click"
                >
                  <i class="bi bi-pen-fill"></i>
                </button>
              </div>

              <div class="me-0">
                <button
                  class="btn btn-info"
                  data-kt-menu-trigger="click"
                  (click)="generatePDF()"
                >
                  <i class="bi bi-printer-fill"></i>
                </button>
              </div>
              <div class="me-0">
                <button
                  class="btn btn-danger"
                  data-kt-menu-trigger="click"
                >
                  <i class="bi bi-envelope-check-fill"></i>
                </button>
              </div>

            </div>

          </div>

        </div>
      </form>
    </div>
  </div>
</div>

<div class="d-flex flex-column-fluid align-items-start container-xxl">
  <div class="content flex-row-fluid">
    <div class="card">
      <div class="card-body">


        <form [formGroup]="form">
          <fieldset [disabled]="!editing">
            <div *ngFor="let flIndi of getFlArray().controls; let i = index;" formArrayName="fl">
              <div class="row p-t-20 col-md-12" formGroupName="{{i}}">
                <div class="col-md-3">
                  <label class="form-label"># Cebadero</label>
                  <input class="form-control" formControlName="numberFeedlot">
                </div>

                <div class="col-md-3">
                  <label class="form-label">Tipo</label>
                  <select class="form-select">
                    <option [value]="'Cebadero'">Cebadero</option>
                    <option [value]="'Gomosa'">Trampa Gomosa</option>
                    <option [value]="'UV'">UV</option>
                  </select>
                </div>

                <div class="col-md-1">
                  <label class="form-label">Consumo</label><br>
                  <input class="form-check-input" formControlName="eats"
                         type="checkbox" value="">
                </div>

                <div class="col-md-1">
                  <label class="form-label">Estado</label><br>
                  <input class="form-check-input" formControlName="status"
                         type="checkbox" value="">
                </div>

                <div class="col-md-8">
                  <label class="form-label">Observaciones</label>
                  <input class="form-control mb-2 mb-md-0"
                         formControlName="observations" placeholder="Observaciones"
                         type="text">
                </div>
              </div>

              <div class="separator my-10"></div>

            </div>
          </fieldset>
        </form>
        <div>
          <button (click)="saveFeedLots()" class="btn btn-light-success">Guardar</button>
          <button (click)="addNewAddressGroup()" class="btn btn-light-info">Add</button>
        </div>


      </div>
    </div>
  </div>
</div>
