<div class="card mb-10">
  <div class="card-body d-flex align-items-center py-8">
    <!-- begin::Icon -->
    <div
      class="d-flex h-80px w-80px flex-shrink-0 flex-center position-relative"
    >
      <img class="h-40px me-10" src="assets/media/icons/duotune/coding/cod010.svg"/>
    </div>
    <!-- end::Icon  -->

    <!-- begin::Description  -->
    <div class="ms-6">
      <p class="list-unstyled text-gray-600 fw-bold fs-6 p-0 m-0">
        {{"DASHBOARD.ICONS.CLIENTS"|translate}}
      </p>
      <button *ngIf="authHttpService.hasRole('ROLE_ADMIN')" class="btn btn-primary" (click)="clickEnterClientForm(null,null, null)">
        <i class="fas fa-plus" data-placement="top" data-toggle="tooltip"></i> Crear
      </button>
      <a class="col-1"></a>
      <button class="btn btn-warning margin-left" routerLink="/dashboard">
        <i class="fas fa-arrow-left" data-placement="top" data-toggle="tooltip"></i> Volver
      </button>
    </div>
    <!-- end::Description  -->
  </div>
</div>
<div class="card card-custom">
  <div class="card-header card-header-stretch overflow-auto">
    <!-- begin::Header -->
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Listado de Clientes</span>
        <span class="text-muted mt-1 fw-bold fs-7">Registrados en el Sistema</span>
      </h3>
      <div class="card-toolbar">
        <!-- begin::Menu -->
        <button
          class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
          data-kt-menu-flip="top-end"
          data-kt-menu-placement="bottom-end"
          data-kt-menu-trigger="click"
          type="button"
        >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'"
        class="svg-icon svg-icon-2"
      ></span>
        </button>
        <!-- begin::Menu 2 -->
        <app-dropdown-menu2></app-dropdown-menu2>
        <!-- end::Menu 2 -->
        <!-- end::Menu -->
      </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Table container -->
      <div class="table-responsive">
        <!-- begin::Table -->

        <table class="table table-row-dashed table-striped table-row-gray-300 align-middle gs-0 gy-4">
          <thead>
          <tr class="fw-bolder text-muted">
            <th class="mb-1">Info</th>
            <th class="mb-1">Contacto</th>
            <th class="mb-1 text-end">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let client of clients">
            <td>
              <a
                class="text-dark fw-bolder text-hover-primary d-block fs-6"
              >
                {{client.name}}
              </a>
              <span class="text-muted fw-bold text-muted d-block fs-7">
                  {{client.identification}}

                </span>
            </td>
            <td>
              <a
                class="text-dark fw-bolder text-hover-primary d-block fs-6"
              >
                {{client.mail}}
              </a>
              <span class="text-muted fw-bold text-muted d-block fs-7">
              {{client.contact}}
            </span>
            </td>

            <td class="text-end">
              <a
                (click)="clickEnterReport(client.id, client.name, client)"
                class="
                btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                me-1
              "
              >
              <span
                [inlineSVG]="'./assets/media/icons/duotune/graphs/gra003.svg'"
                class="svg-icon svg-icon-3 svg-icon-success"
              ></span>
              </a>
              <a
                (click)="clickEnterClientForm(client.id, client.name, client)"
                class="
                btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                me-1
              "
              >
              <span
                [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3 svg-icon-warning"
              ></span>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
              >
              <span
                [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3 svg-icon-danger"
              ></span>
              </a>
            </td>

          </tr>
          </tbody>
        </table>
        <mat-paginator (page)="paginator($event)"
                       [length]="totalRegister"
                       [pageIndex]="pageNo"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       [pageSize]="pageSize"
                       aria-label="Select page"
                       class="float-left mx-2"
                       showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </div>
</div>



