<div class="row g-5 g-xl-8">

  <div class="col-xl-3">
  </div>

  <div class="col-xl-6">
    <app-stats-widget4
      class="card card-xl-stretch mb-xl-8"
      color="danger"
      change="-260"
      title="Reporte de compras"
      description="Pronto"
    ></app-stats-widget4>
  </div>
</div>

<div class="row g-5 g-xl-8">
  <div class="col-xl-3">
    <app-stats-widget5
      svgIcon="assets/media/icons/duotune/general/gen055.svg"
      class="card bg-danger hoverable card-xl-stretch mb-xl-8"
      color="danger"
      iconColor="white"
      description=""
      routerLink="/item-provider/view"
      title='{{"BUYS.ICONS.ADD"| translate}}'
    ></app-stats-widget5>
  </div>

  <div class="col-xl-3">
    <app-stats-widget5
      svgIcon="assets/media/icons/duotune/general/gen028.svg"
      class="card bg-primary hoverable card-xl-stretch mb-xl-8"
      color="primary"
      iconColor="white"
      title='{{"BUYS.ICONS.ITEMS_PROVIDER_LIST"| translate}}'
      description=""
      routerLink="/item-provider"
    ></app-stats-widget5>
  </div>

  <div class="col-xl-3">
    <app-stats-widget5
      svgIcon="assets/media/icons/duotune/general/gen035.svg"
      class="card bg-success hoverable card-xl-stretch mb-5 mb-xl-8"
      color="success"
      iconColor="white"
      description=""
      routerLink="/buys/view"
      title='{{"BUYS.ICONS.ADD_NEW_BILL"| translate}}'
    ></app-stats-widget5>
  </div>

  <div class="col-xl-3">
    <app-stats-widget5
      svgIcon="assets/media/icons/duotune/general/gen012.svg"
      class="card bg-warning hoverable card-xl-stretch mb-5 mb-xl-8"
      color="success"
      iconColor="white"
      description=""
      title='{{"BUYS.ICONS.BILL_IN_PROGRESS"| translate}}'
    ></app-stats-widget5>
  </div>

  <div class="col-xl-4">
  </div>

  <div class="col-xl-4">
    <app-stats-widget5
      svgIcon="assets/media/icons/duotune/arrows/arr079.svg"
      class="card bg-dark hoverable card-xl-stretch mb-5 mb-xl-8"
      color="success"
      iconColor="white"
      title='{{"BUYS.ICONS.BACK"| translate}}'
      routerLink="/dashboard"
      description=""
    ></app-stats-widget5>
  </div>

</div>



