<div class="card mb-10">
  <div class="card-body d-flex align-items-center py-8">
    <!-- begin::Icon -->
    <div
      class="d-flex h-80px w-80px flex-shrink-0 flex-center position-relative"
    >
      <img class="h-40px me-10" src="assets/media/icons/duotune/coding/cod010.svg"/>
    </div>
    <!-- end::Icon  -->

    <!-- begin::Description  -->
    <div class="ms-6">
      <p class="list-unstyled text-gray-600 fw-bold fs-6 p-0 m-0">
        {{"REPORTS.SERVICE.NAME"|translate}}
      </p>
      <button class="btn btn-warning margin-left" routerLink="/reports/service-provider/">
        <i class="fas fa-arrow-left" data-placement="top" data-toggle="tooltip"></i> Volver
      </button>
    </div>
    <!-- end::Description  -->
  </div>
</div>

<div class="card mb-5 mb-xl-12">
  <div class="card-body">
    <div class="card-body">

      <form [formGroup]="serviceProviderForm" id="serviceProviderForm">
        <div class="d-flex justify-content-between align-items-start flex-wrap mb-2 md-12">
          <div class="row p-t-20 col-md-12">
            <div class="col-md-6">
              <fieldset [disabled]="!editing">
                <label class="form-label" for="clientName">Cliente</label>
                <input class="form-control" formControlName="clientName" id="clientName" maxlength=80 type="text">
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset [disabled]="!editing">
                <label class="form-label" for="clientAddress">Direccion</label>
                <input class="form-control" formControlName="clientAddress" id="clientAddress" maxlength=80 type="text">
              </fieldset>
            </div>

            <div *ngIf="isNew" class="col-md-6">
              <fieldset [disabled]="!editing">
                <label class="form-label">Sucursal</label>
                <select class="form-select" formControlName="branchIdForm">
                  <option *ngFor="let b of branch"
                          [ngValue]="b">{{b.name}}
                  </option>
                </select>
              </fieldset>
            </div>

            <div *ngIf="!isNew" class="col-md-6">
              <fieldset [disabled]="!editing">
                <label class="form-label">Sucursal</label>
                <select class="form-select" formControlName="branchIdForm">
                  <option *ngFor="let b of branch"
                          [ngValue]="b.id">{{b.name}}
                  </option>
                </select>
              </fieldset>
            </div>

            <div class="col-md-6">
              <fieldset [disabled]="!editing">
                <label class="form-label">Bodega/Almacén</label>
                <select class="form-select" formControlName="warehouseId">
                  <option *ngFor="let w of warehouse"
                          [ngValue]="w.id">{{w.name}}
                  </option>
                </select>
              </fieldset>
            </div>

            <div class="col-md-3">
              <fieldset [disabled]="!editing">
                <label class="form-label" for="createAt">Fecha</label>
                <input class="form-control" formControlName="createAt" id="createAt" maxlength=10 type="text">
              </fieldset>
            </div>

            <div class="col-md-3">
              <fieldset [disabled]="!editing">
                <label class="form-label" for="startTime">Hora Ingreso</label>
                <input class="form-control" formControlName="startTime" id="startTime" maxlength=80 type="text">
              </fieldset>
            </div>
            <div class="col-md-3">
              <fieldset [disabled]="!editing">
                <label class="form-label" for="endTime">Hora Salida</label>
                <input class="form-control" formControlName="endTime" id="endTime" maxlength=80 type="text">
              </fieldset>
            </div>
            <div class="col-md-3">
              <fieldset [disabled]="!editing">
                <label class="form-label" for="identifier">Identificador</label>
                <input class="form-control" formControlName="identifier" id="identifier" maxlength=80 type="text">
              </fieldset>
            </div>


          </div>
          <div class="row col-md-3">
            <div class="d-flex my-4">

              <div class="me-0">
                <button (click)="save()"
                        *ngIf="editing"
                        class="btn btn-success"
                        data-kt-menu-trigger="click"
                >
                  <i class="bi bi-cloud-arrow-up-fill"></i>
                </button>

                <button (click)="enableEdit()"
                        *ngIf="!editing"
                        class="btn btn-warning"
                        data-kt-menu-trigger="click"
                >
                  <i class="bi bi-pen-fill"></i>
                </button>
              </div>

              <div class="me-0">
                <button
                  class="btn btn-info"
                  data-kt-menu-trigger="click"
                >
                  <i class="bi bi-printer-fill"></i>
                </button>
              </div>
              <div class="me-0">
                <button
                  class="btn btn-danger"
                  data-kt-menu-trigger="click"
                >
                  <i class="bi bi-envelope-check-fill"></i>
                </button>
              </div>

            </div>

          </div>

        </div>
      </form>

      <div class="d-flex overflow-auto h-55px">
        <ul
          class="
          nav nav-stretch nav-line-tabs nav-line-tabs-2x
          border-transparent
          fs-5
          fw-bolder
          flex-nowrap
        "
        >
          <li class="nav-item">
            <a
              (click)="session('detail')"
              class="nav-link text-active-primary me-6"
              routerLink="/reports/service-provider/form/details"
              routerLinkActive="active"
            >
              {{"REPORTS.SERVICE.DETAILS"|translate}}
            </a>
          </li>
          <li class="nav-item">
            <a
              (click)="session('recommendations')"
              class="nav-link text-active-primary me-6"
              routerLink="/reports/service-provider/form/pest"
              routerLinkActive="active"
            >
              {{"REPORTS.SERVICE.PEST"|translate}}
            </a>
          </li>
          <li class="nav-item">
            <a
              (click)="session('pestType')"
              class="nav-link text-active-primary me-6"
              routerLink="/reports/service-provider/form/recommendations"
              routerLinkActive="active"
            >
              {{"REPORTS.SERVICE.RECOMMENDATIONS"|translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
<div class="d-flex flex-column-fluid align-items-start container-xxl">
  <div class="content flex-row-fluid">
    <div class="card">
      <div class="card-body">

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
