<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLink="/dashboard" routerLinkActive="active"
  ><span class="menu-title" translate="MENU.DASHBOARD"></span
  ></a>
</div>

<!-- Layout Clients -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLink="/clients" routerLinkActive="active"
  ><span class="menu-title">{{"HEADER.MENU.CLIENTS"|translate}}</span></a
  >
</div>
<!-- Layout Items -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLink="/items" routerLinkActive="active"
  ><span class="menu-title">{{"HEADER.MENU.ITEMS"|translate}}</span></a
  >
</div>
<!-- Layout Providers -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLink="/providers" routerLinkActive="active"
  ><span class="menu-title">{{"HEADER.MENU.PROVIDERS"|translate}}</span></a
  >
</div>
<!-- Layout shopping -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLink="/buys" routerLinkActive="active"
  ><span class="menu-title">{{"HEADER.MENU.SHOPPING"|translate}}</span></a
  >
</div>
<!-- Layout Bill -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLink="/bills" routerLinkActive="active"
  ><span class="menu-title">{{"HEADER.MENU.BILL"|translate}}</span></a
  >
</div>
