<div class="card bg-light mb-3">
  <div class="sp_choose_main_wrapper">
    <div class="container">
      <div class="row">
        <div class="card-body">

          <!-- success -->
          <div *ngIf="editedClient" class="alert alert-success">
            Cliente guardado exitosamente.
          </div>

          <!-- edit -->
          <button
            (click)="enableEdit()"
            *ngIf="authService.hasRole('ROLE_ADMIN') && !isEditing && activeTab===clientTabsEnum.CLIENT"
            class="btn btn-warning mr-2"
          >
            Editar
          </button>

          <!-- add branch -->
          <button
            (click)="branchEnterReport(null, null, null)"
            *ngIf="authService.hasRole('ROLE_ADMIN') && !isEditing && activeTab===clientTabsEnum.BRANCHES"
            class="btn btn-info mr-2"
          >
            Nueva Sucursal
          </button>


          <!-- on client update -->
          <button
            *ngIf="isEditing && !isNew" [disabled]="isUpdating"
            class="btn btn-success mr-2"
            form="clientForm"
            type="submit"
          >
            Guardar
          </button>

          <!-- on client update -->
          <button
            *ngIf="isEditing && isNew && activeTab===clientTabsEnum.CLIENT" [disabled]="isUpdating"
            class="btn btn-success mr-2"
            form="clientForm"
            type="submit"
          >
            Guardar
          </button>

          <!-- on branches update -->
          <button
            *ngIf="isEditing && isNew && activeTab===clientTabsEnum.BRANCHES" [disabled]="isUpdating"
            class="btn btn-success mr-2"
            form="clientForm"
            type="submit"
          >
            Guardar
          </button>

          <!-- on branch create -->
          <button
            (click)="branchEnterReport(null, null, null)" *ngIf="isEditing && !isNew && activeTab===clientTabsEnum.BRANCHES"
            [disabled]="isUpdating"
            class="btn btn-light-info mr-2"
            type="button"
          >
            Añadir Sucursal
          </button>

          <!-- back -->
          <button
            (click)="back()"
            [ngClass]="{'margin-left': authService.hasRole('ROLE_ADMIN')}"
            class="btn btn-light-primary mr-2">
            Volver
          </button>

          <div class="mt-3">
            <!-- tabs -->
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <!-- data tab -->
              <li class="nav-item" role="presentation">
                <button
                  (click)="setActiveTab(clientTabsEnum.CLIENT)"
                  aria-controls="client-data"
                  aria-selected="false"
                  class="nav-link"
                  data-bs-target="#client-data"
                  data-bs-toggle="pill"
                  id="client-data-tab"
                  role="tab"
                  type="button"
                >
                  Datos
                </button>
              </li>

              <!-- data tab -->
              <li *ngIf="!isNew" class="nav-item" role="presentation">
                <button
                  (click)="setActiveTab(clientTabsEnum.BRANCHES)"
                  aria-controls="branches-data"
                  aria-selected="false"
                  class="nav-link"
                  data-bs-target="#branches-data"
                  data-bs-toggle="pill"
                  id="branches-data-tab"
                  role="tab"
                  type="button"
                >
                  Sucursales
                </button>
              </li>
            </ul>


            <!-- views -->
            <div class="tab-content" id="pills-tabContent">
              <!--client data tab-->
              <div [ngClass]="{'active': activeTab === clientTabsEnum.CLIENT}" aria-labelledby="client-data-tab"
                   class="tab-pane fade show active" id="client-data"
                   role="tabpanel">
                <!--client form-->
                <form (ngSubmit)="onClientUpdate()" [formGroup]="clientForm" id="clientForm">
                  <fieldset [disabled]="!isEditing">
                    <div class="row p-t-20">

                      <div class="col-md-6">
                        <label class="form-label" for="name">Nombre</label>
                        <input class="form-control" formControlName="name" id="name" maxlength=80
                               type="text">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="typeOfId">Tipo de Identificacion</label>
                        <select class="form-select" formControlName="typeOfId" id="typeOfId">
                          <option disabled value="null">Seleccione Tipo de Identificacion</option>
                          <option value="01">Física</option>
                          <option value="02">Jurídica</option>
                          <option value="03">DIMEX</option>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="identification">Identificacion</label>
                        <input [maxLength]="idTypeLength" class="form-control" formControlName="identification"
                               id="identification"
                               type="text">
                      </div>

                      <div class="col-md-3">
                        <label class="form-label" for="mail">Correo</label>
                        <input class="form-control" formControlName="mail" id="mail" type="text">
                      </div>
                      <div class="col-md-3">
                        <label class="form-label" for="contact">Telefono</label>
                        <input class="form-control" formControlName="contact" id="contact" maxlength=8 type="text">
                      </div>
                      <div class="col-md-12">
                        <label class="form-label" for="scope">Alcance</label>
                        <textarea class="form-control" formControlName="scope" id="scope" maxlength=5000  rows="8" type="text"></textarea>
                      </div>

                      <div class="col-md-3">
                        <label class="form-label">Provincia</label>
                        <select class="form-select" formControlName="province">
                          <option *ngFor="let prov of province"
                                  [value]="prov.id">{{prov.province}}
                          </option>
                        </select>
                      </div>

                      <div class="col-md-3">
                        <label class="form-label">Cantón</label>
                        <select class="form-select" formControlName="canton">
                          <option *ngFor="let cant of canton"
                                  [value]="cant.id">{{cant.canton}}
                          </option>
                        </select>
                      </div>

                      <div class="col-md-3">
                        <label class="form-label">Distrito</label>
                        <select class="form-select" formControlName="district">
                          <option *ngFor="let distr of district"
                                  [value]="distr.id">{{distr.district}}
                          </option>
                        </select>
                      </div>

                      <div class="col-md-3">
                        <label class="form-label">Barrio</label>
                        <select class="form-select" formControlName="neigh">
                          <option *ngFor="let nei of neigh"
                                  [value]="nei.id">{{nei.neighborhood}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
              <!--client data tab-->
              <div [ngClass]="{'active': activeTab === clientTabsEnum.BRANCHES}" aria-labelledby="branches-data-tab"
                   class="tab-pane fade show" id="branches-data"
                   role="tabpanel">
                <table class="table table-row-dashed table-striped table-row-gray-300 align-middle gs-0 gy-4">
                  <thead>
                  <tr class="fw-bolder text-muted">
                    <th class="mb-1">Info</th>
                    <th class="mb-1">Contacto</th>
                    <th class="mb-1 text-end">Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let branch of listBranches">
                    <td>
                      <a
                        class="text-dark fw-bolder text-hover-primary d-block fs-6"
                      >
                        {{branch.name}}
                      </a>
                      <span class="text-muted fw-bold text-muted d-block fs-7">
                  {{branch.addressDetails}}

                </span>
                    </td>
                    <td>
                      <a
                        class="text-dark fw-bolder text-hover-primary d-block fs-6"
                      >
                        {{branch.contact}}
                      </a>
                      <span class="text-muted fw-bold text-muted d-block fs-7">
                  <a href="mailto:{{branch.email}}">{{branch.email}} </a> -- <a href="tel:{{branch.phone}}">{{branch.phone}} </a>

                </span>
                    </td>

                    <td class="text-end">
                      <a
                        (click)="branchEnterReport(branch.id, branch.name, branch)"
                        class="
                btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                me-1
              "
                      >
              <span
                [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3 svg-icon-warning"
              ></span>
                      </a>
                      <a
                        class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                        href="#"
                      >
              <span
                [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3 svg-icon-danger"
              ></span>
                      </a>
                    </td>

                  </tr>
                  </tbody>
                </table>
                <mat-paginator (page)="paginator($event)"
                               [length]="totalRegister"
                               [pageIndex]="pageNo"
                               [pageSizeOptions]="[5, 10, 25, 100]"
                               [pageSize]="pageSize"
                               aria-label="Select page"
                               class="float-left mx-2"
                               showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

