<div class="row g-5 g-xl-8">
  <div class="col-xl-4">
    <app-stats-widget5
      class="card bg-danger hoverable card-xl-stretch mb-xl-8"
      color="danger"
      description="Listar, Crear o Editar Clientes"
      iconColor="white"
      routerLink="/clients"
      svgIcon="assets/media/icons/duotune/communication/com014.svg"
      title="{{'DASHBOARD.ICONS.CLIENTS'| translate}}"
    ></app-stats-widget5>
  </div>

  <div class="col-xl-4">
    <app-stats-widget5
      class="card bg-primary hoverable card-xl-stretch mb-xl-8"
      color="primary"
      description="Listar, Crear o Editar productos"
      iconColor="white"
      routerLink="/items"
      svgIcon="assets/media/icons/duotune/ecommerce/ecm009.svg"
      title='{{"DASHBOARD.ICONS.ITEMS"| translate}}'
    ></app-stats-widget5>
  </div>

  <div class="col-xl-4">
    <app-stats-widget5
      class="card bg-success hoverable card-xl-stretch mb-5 mb-xl-8"
      color="success"
      description="Listar, Crear o Editar técnicos"
      iconColor="white"
      routerLink="/users"
      svgIcon="./assets/media/icons/duotune/graphs/gra005.svg"
      title='{{"DASHBOARD.ICONS.USERS"| translate}}'
    ></app-stats-widget5>
  </div>
</div>
<div class="row g-5 g-xl-8">
  <div class="col-xl-4">
    <app-stats-widget5
      class="card bg-warning hoverable card-xl-stretch mb-xl-8"
      color="warning"
      description="Listar, Crear o Editar Equipo"
      iconColor="white"
      routerLink="/equipment"
      svgIcon="assets/media/icons/duotune/technology/teh005.svg"
      title="{{'DASHBOARD.ICONS.EQUIP'| translate}}"
    ></app-stats-widget5>
  </div>

  <div class="col-xl-4">
    <app-stats-widget5
      class="card bg-white hoverable card-xl-stretch mb-xl-8"
      color="white"
      description="Listar, Crear o Editar Reportes"
      iconColor="black"
      routerLink="/reports"
      svgIcon="assets/media/icons/duotune/general/gen032.svg"
      title="{{'DASHBOARD.ICONS.REPORTS'| translate}}"
    ></app-stats-widget5>
  </div>

  <div class="col-xl-4" disabled="true">
    <app-stats-widget5 disabled="true"
      class="card bg-dark card-xl-stretch mb-xl-8"
      color="dark"
      description="Facturación, reportes y compras"
      iconColor="white"
      svgIcon="assets/media/icons/duotune/ecommerce/ecm001.svg"
      title="{{'DASHBOARD.ICONS.FE'| translate}}"
    ></app-stats-widget5>
  </div>

</div>
